<h1> All Of Our Cats! </h1>

<ul> <% @cats.each do |cat| %>
  <li>
    <ul>
      <li> <%= cat.name %> </li>
      <li> <%= cat.age %> </li>
      <li> <%= cat.birth_date %> </li>
      <li> <%= cat.color %> </li>
      <li> <%= cat.sex %> </li>
    </ul>
  </li>
  <a href="<%= cat_url(cat) %>">Rent <%=cat.name%> </a>
  <% end %>
</ul>